<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/topics/create">发表</a>

    <% for(var i=0; i<page.items.length; i++) {%>
      <table cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr>
              <td width="48" valign="top" align="center"><a href="/member/<%= page.items[i]['member'][0]['username'] %>"><img src="<%= page.items[i]['member'][0]['avatar'] %>" class="avatar" border="0" align="default" /></a></td>
              <td width="10"></td>
              <td width="auto" valign="middle"><span class="item_title"><a href="<%= page.items[i]['url'] %>"><%= page.items[i]['title'] %></a></span>
              <div class="sep5"></div>
              <span class="small fade"><strong><%= page.items[i]['member'][0]['username'] %></strong> &nbsp;•&nbsp; 10 小时 13 分钟前 &nbsp;•&nbsp;</span>
              </td>
              <td width="50" align="right" valign="middle">
                  <a href="<%= page.items[i]['url'] %>" class="count_livid">9</a>
              </td>
          </tr>
      </table>
    <% } %>
    <div class="inner">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
                <td width="120" align="left"><input type="button" onclick="location.href = '?p=<%= page.pageNo - 1 %>'" value="‹ 上一页" class="super normal button" /></td>
                <td width="auto" align="center"><span class="fade"><%= page.pageNo %>/<%= page.totalPage %> · 共有 <%= page.totalCount %> 个主题</span></td>
                <td width="120" align="right"><input type="button" onclick="location.href = '?p=<%= ++page.pageNo %>';" value="下一页 ›" class="super normal button" /></td>
            </tr>
        </table>
    </div>
  </body>
</html>
